html {
  font-size: 16px;
  height: 100%;
}

body {
  min-height: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

$primary: #0C365A;
$blue: #325BAF;
$green: #01D167;
$sans: sans-serif;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
